h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    font-family: var(--display-font);

    // + h1, + h2, + h3, + h4, + h5, + h6 {
    + * { margin-top: 0!important; }
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px var(--border-color);
    transition: border-color 0.2s;

    &:hover {
        border-bottom-color: inherit;
    }
}

img, video {
    display: block;
    max-width: 100%;
}

abbr {
    cursor: help;
    text-decoration: none;
    border-bottom: dashed 1px var(--border-color);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    vertical-align: top;

    th {
        background-color: var(--backdrop-color);
    }

    &, tr, td, th {
        border: solid 1px var(--border-color);
        padding: 5px 10px;
    }
}

form {
    flex-direction: column;

    &, & > div {
        display: flex;
        gap: 0.5rem;
    }
}

input, textarea, button, .button, select {
    all: unset;
    box-sizing: border-box;
    padding: 0.25rem 0.6rem;
    font: inherit;
    background-color: var(--backdrop-color);
    border: solid 1px var(--border-color);
    width: 100%;

    &::placeholder {
        color: var(--border-color);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(1);
        margin-top: 3px;
        opacity: 0.25;
    }
}

textarea {
    padding: 1rem;
}

select {
    background-repeat: no-repeat;
    background-position: calc(100% - 0.6rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='648.5 374.5 17 10' width='17pt' height='10pt'%3E%3Cpath d='m650 376 7 7 7-7' fill='none' vector-effect='non-scaling-stroke' stroke='rgba(0 0 0 / 15%)' stroke-opacity='100' stroke-linecap='square' stroke-miterlimit='3'/%3E%3C/svg%3E");
}

html[data-ambiance~=night] {
    select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='648.5 374.5 17 10' width='17pt' height='10pt'%3E%3Cpath d='m650 376 7 7 7-7' fill='none' vector-effect='non-scaling-stroke' stroke='rgba(255 255 255 / 15%)' stroke-opacity='100' stroke-linecap='square' stroke-miterlimit='3'/%3E%3C/svg%3E");
    }
}

.button, button {
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;
    transition: border-color 0.2s;

    &:hover {
        border-color: var(--text-color);
    }
}

hr {
    height: 1px;
    background-color: var(--border-color);
    border: none;
    margin: 2rem 0;
}

blockquote {
    border-left: dashed 1px var(--border-color);
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
}

li::marker {
    color: var(--border-color);
}

ul li::marker {
    content: '–   ';
}